#up{
    border-bottom:0px solid transparent;
    box-shadow: 0 0 transparent;
    background:transparent;
}
#navbarSupportedContent li {
    margin:0px 10px;
}
#navbarSupportedContent li a{
    color:white;
}

.colortext {
    color: white;
}
#up h2{
    color:#00c851!important;
    font-size:1.3rem;
    cursor: pointer;

}
.wrapper{
    background:url("/img/back.jpg");
    background-position:center;
    background-size:cover;
    background-attachment: scroll;
    width:100%;
    height:100vh;
    position:static;
    color:white;
}
.parallax {

    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/img/back.jpg");
    min-height: 100%;


}

.overlays{
    position:absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    background: rgb(13, 13, 14);
}